@model IEnumerable<MyTask.Models.Tarefa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary btn-block btn-lg" role="button" asp-controller="Tarefa" asp-action="Create">Cadastrar</a>
    </div>
    <br />
    <h1 class="display-4">Listagem de Tarefas</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Código da Tarefa</th>
                <th scope="col">Título</th>
                <th scope="col">Responsável</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                    <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
                    <td>@Html.DisplayFor(modelItem => item.UsuarioResponsavel.Nome)</td>
                    <td>

                     
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">

                            <a type="button" class="btn btn-primary" asp-route-id="@item.Id" asp-action="Editar">Abrir</a>

                            @if(item.Status == 1)
                            {
                                <a asp-action="FinalizarTarefa" asp-route-id="@item.Id" type="button" class="btn btn-success">Finalizar</a>
                            }
                            else{
                                <a asp-action="ReabrirTarefa" asp-route-id="@item.Id" type="button" class="btn btn-warning">Reabrir</a>
                            }

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
