@model IEnumerable<ManagerTask.Domain.Entities.Usuario>

@{
    ViewData["Title"] = "Lista de Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary btn-block btn-lg" role="button" asp-controller="Usuario" asp-action="Cadastrar"><i class="fas fa-plus-circle"></i> Cadastrar</a>
    </div>
    <br />
    <h1 class="display-4">Listagem de Usuários</h1>

    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Qtd. Tarefas</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>

                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@item.Tarefas.Where(x => x.Status == 1).Count()</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a type="button" class="btn btn-primary" asp-route-id="@item.Id" asp-action="Editar">Editar</a>
                            <a href="javascript:" usuario-id="@item.Id" type="button" class="btn btn-danger btn-excluir-usuario">Excluir</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div id="modalEditaUsuario" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edição </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div id="editaUsuarios">
                    </div>
                </div>

            </div>
        </div>
    </div>

  

    <div id="modalExcluirUsuario" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Atenção </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <h5 class="display-6">Desejar mesmo excluir esse usuário ?</h5>
                    </div>
                    <br />

                    <div class="d-grid gap-2">
                        <a href="javascript:" id="ConfirmaExclusao" class="btn btn-danger btn-confirma-exclusao">Remover</a>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">
                            Cancelar
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
